@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md.navigation-clean {
    height: 75px;
  }
}

.part {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.Pheno {
  background: #282d32;
}

.description {
  text-align: justify;
}

.div-evol {
  padding: 25px 0;
}

.btn.btn-primary {
  display: inline-block;
}

.col-md-6 {
  text-align: center;
}

.btn.btn-primary {
  color: #fff;
  background-color: #000;
}

.cd-top.cd-top--show {
  background-color: #000;
  opacity: 75%;
  z-index: 10;
  border-radius: 100px;
}

.col-md-6 {
  padding: 15px;
}

